<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <header>
      <nav id="navbar">
        <a href=#projects class="navlink">Projects</a>
        <a href=#contact class="navlink">Contact</a>
      </nav>
    </header>

    <div id="main-doc">
      <section id="welcome-section">
        <h1 class="welcome-header">Hi, it's me!</h1>
        <p>
          {{ content }}
        </p><br>
    <div class="circle-box">
        <div class="s-circle"></div>
        <div class="m-circle"></div>
    </div>
        <a href=#projects type="button" class="scroll">See projects</a>
      </section>

      <section id="projects">
        <h2 class="section-header">Projects</h2>
          <div class="show-grid">
            <div class="project-tile">
              <h3>Test title</h3>
              <p>test description</p>
            </div>
            <div class="project-tile">
              <h3>{{ projtitle2 }}</h3>
              <p>{{ projdescription2 }}</p>
            </div>
            <div class="project-tile">
              <h3>{{ projtitle3 }}</h3>
              <p> {{ projdescription3 }}</p>
            </div>
          </div>
          <a href=#contact type="button" class="scroll">Contact me</a>
      </section>

      <section id="contact">
        <h2 class="section-header">Contact</h2>
        <a href=#>Linkedin</a>
        <a href=# type="mailto">test</a>
        <a href="https://www.github.com/" target=_blank id="profile-link">GitHub</a>
        <a href=#>CodePen</a>
      </section>
    </div>

  <footer>
    <p>text</p>
  </footer>
  </body>
</html>
